<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.abdulr.mysimpleapp">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Views.EditProfileActivity"></activity>
        <activity android:name=".Views.ProfileActivity" />
        <activity android:name=".Views.SettingActivity" />
        <activity
            android:name=".Views.ScannerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Views.PasscodeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Views.RatingBarActivity" />
        <activity android:name=".Views.PatternLockActivity" />
        <activity android:name=".Views.GenerateActivity" />
        <activity
            android:name=".Views.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>